/* variables */
:root {
    --primary-color: rgb(51, 246, 129);
    --secondary-color: rgb(255, 168, 76);
    --linear-primary: #6ac676;
    --linear-secondary: #499e63;
    --def-back: rgb(43, 50, 83);
    --foreground-back: rgb(15, 22, 66);
}

hr {
    height: 0.3rem;
    margin: 1rem 0;
    background: var(--secondary-color);
    border: none;
}
