.cart {
    .cartItem {
        padding: 1rem;
        background: $foreground-back;
        border-top: 1px solid $additional-color;
        display: flex;
        align-items: center;
    
        & > div:not(:first-child) {
            margin-left: 1rem;
        }

        svg {
            transition: all .3s;
            &:active {
                transform: scale(1.1);
            }
        }

        &__image {
            width: 15rem;
            height: 15rem;
        }
    
        &__name {
            width: 25rem;
            font-size: 1.6rem;
        }
    
        &__amount {
            flex-grow: 1;
            svg {
                width: 3rem;
                height: 3rem;
            }
    
            &_number {
                font-size: 3.5rem;
                margin: 0 1.5rem;
            }

            .minusBtn:disabled,
            .plusBtn:disabled {
                svg {
                    fill: $additional-color;
                }
            }
    
            .minusBtn {
                svg {
                    fill: $danger-color;
                }
            }
    
            .plusBtn {
                svg {
                    fill: $primary-color;
                }
            }
        }

        &__price {
            padding: 0 1rem;
            font-size: 2.4rem;
            font-weight: bold;
        }
    
        &__delete {
            width: 5rem;
            &:hover {
                fill: $danger-color;
                svg {
                    fill: $danger-color;
                }
            }

            svg {
                width: 2rem;
                height: 2rem;
                fill: $additional-color;
            }
        }
    }
}