.cart {
    &__head {
        padding: 1rem 0;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        svg {
            margin-right: .7rem;
        }

        &_header {
            font-size: 3rem;
            svg {
                width: 3rem;
                height: 3rem;
            }
        }

        &_clear {
            font-size: 2rem;
            color: $additional-color;
            opacity: .5;
            svg {
                width: 2rem;
                height: 2rem;
                fill: $additional-color;
            }

            &:hover {
                opacity: 1;
                color: $danger-color;
            }
        }
    }
}