.userAdds {
    margin-top: 1.5rem;
    &__menu {
        ul {
            height: 100%;
            margin: 0;
            li {
                a {
                    display: block;
                    padding: 1.5rem 2rem;
                    font-size: 1.6rem;
                    height: 100%;

                    &:hover:not(.activeTab) {
                        background: $secondary-color;
                    }
                }
                .activeTab {
                    background: $gradient;
                }
            }
        }

        hr {
            background: $primary-color;
        }
    }

    &__content {
        padding: 0 1.5rem 2rem 1.5rem;
        font-size: 1.4rem;
    }

    // favorite products
    &__favorites {
        &_item {
            &:not(:last-child) {
                border-bottom: 1px solid $additional-color;
            }
        }

        .item {
            padding: 1rem 0;
            height: 33rem;
            font-size: 1.6rem;

            &__image {
                width: 30rem;
                img {
                    max-height: 33rem;
                }
            }

            &__info {
                margin-left: 5rem;
                & > div:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }

            &__delete {
                background: none;
                cursor: pointer;
                svg {
                    width: 3rem;
                    height: 3rem;
                    transition: all .3s;
                    &:hover {
                        fill: $danger-color;
                    }
                    &:active {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    &__orders {
        .orderItem {
            font-size: 1.6rem;
            border-bottom: 1px solid $additional-color;
            & > div:not(:last-child) {
                margin: 1.5rem 0;
                span {
                    font-weight: 300;
                    color: $primary-color;
                }
            }
            &__code {
                text-align: center;
            }

            &__status {
                text-align: right;
                margin-bottom: 2rem;
                span {
                    padding: .5rem 1rem;
                    background: $secondary-color;
                    color: black;
                }
            }
        }
    }
}
