.userAdds {
    margin-top: 1.5rem;
    &__menu {
        // height: 3rem;
        ul {
            height: 100%;
            margin: 0;
            li {
                a {
                    display: block;
                    padding: 1.5rem 2rem;
                    font-size: 1.6rem;
                    height: 100%;

                    &:hover:not(.activeUserAdd) {
                        background: $secondary-color;
                    }
                }
                .activeUserAdd {
                    background: $gradient;
                }
            }
        }

        hr {
            background: $primary-color;
        }
    }

    &__content {
        padding: 1.7rem 1.5rem;
        font-size: 1.4rem;
    }
}
