.changeUsers {
    .changeBlock__header_item,
    .changeBlock__items_item > * {
        &:nth-child(1) {
            flex-basis: 14%;
        }

        &:nth-child(2),
        &:nth-child(3) {
            flex-basis: 24%;
        }

        &:nth-child(4) {
            flex-basis: 12%;
        }

        &:nth-child(5) {
            flex-basis: 18%;
        }

        &:nth-child(6) {
            flex-basis: 10%;
        }
    }
}
