.singleProduct__content_comments{
    .commentsForm {
        &__textarea {
            width: 100%;
            padding-left: 1rem;
            font-size: 1.4rem;
            background: $foreground-back;
        }

        &__radio {
            display: flex;
            justify-content: flex-end;
        }

        &__submit {
            margin: .5rem 0 2rem 0;
            justify-content: flex-end;
        }

        .textarea__error {
            background: $foreground-back;
        }
    }

    .commentsItems {
        &__item {
            padding: 1rem 0;
            border-bottom: 1px solid $additional-color;   
        }
    }
}
