// product info tab
@import './productTab';
// comments tab
@import './commentsTab';

.singleProduct {
    padding-top: 1rem;
    & > div:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__header {
        font-size: 3rem;
    }

    &__rateDate {
        font-size: 1.4rem;
        &_rate {
            .ownRating {
                margin-left: 1rem;
                font-size: 1.6rem;
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    margin-right: .3rem;
                    fill: $primary-color;
                }
            }
        }
        &_date {
            font-weight: 300;
        }
    }

    &__nav {
        li {
            a {
                padding: 1.5rem 2.5rem;
                font-size: 1.8rem;
                &:hover:not(.activeLink) {
                    background: $secondary-color;
                }
                &.activeLink {
                    background: $gradient;
                }
            }
        }

        hr {
            background: $gradient;
        }
    }
}