// product info tab
@import './productTab';

.singleProduct {
    padding-top: 1rem;
    & > div:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__header {
        font-size: 3rem;
    }

    &__rateDate {
        font-size: 1.4rem;
        font-weight: 300;
    }

    &__nav {
        li {
            a {
                padding: 1.5rem 2.5rem;
                font-size: 1.8rem;
                &:hover:not(.activeLink) {
                    background: $secondary-color;
                }
                &.activeLink {
                    background: $gradient;
                }
            }
        }

        hr {
            background: $gradient;
        }
    }
}