.discounts {
    &__header {
        font-size: 2rem;
        padding: 1.5rem 0;
    }

    &__items {
        .discountItem {
            width: 100%;
            background: $foreground-back;
            padding: 1.5rem 0;
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            & > div {
                width: 85%;
                margin: 0.7rem auto;
            }

            &__image {
                height: 35rem;
            }

            &__name {
                font-size: 2rem;
                letter-spacing: 0.1rem;
                font-weight: bold;
            }

            &__description {
                font-weight: 300;
                font-size: 1.4rem;
            }

            &__percent {
                font-size: 4rem;
                font-weight: 700;
                letter-spacing: 0.3rem;
                color: $secondary-color;
            }

            &__settings {
                button:first-child {
                    margin-right: 1.5rem;
                }
            }
        }
    }
}
