// show product rating styles
.rating {
    max-width: 6rem;
    font-size: 2.5rem;
    padding: .5rem 1rem;
    background: $primary-color;
    border-radius: .7rem;
    color: black;
    opacity: .9;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    svg {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: .5rem;
        fill: black;
    }
}