.header {
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    background: var(--foreground-back);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* img block */
.header__logoBlock {
    display: flex;
    align-items: center;
}

.header__logoBlock .img {
    width: 60px;
    height: 60px;
    margin-right: 1rem;
}

.header__logoBlock .img img {
    width: 100%;
    height: 100%;
}

.header__logoBlock .name {
    font-size: 2.2rem;
    color: var(--primary-color);
}

/* search block */
/* .select {
    width: 200px;
}

.select .select__item {
    background: var(--foreground-back);
} */

.MuiSelect-select {
    background: red;
}

/* theme toggle block */
.toggle {
    position: relative;
    width: 6rem;
    height: 3rem;
    border-radius: 1.5rem;
    /* border: 2px solid var(--linear-primary); */
    background: linear-gradient(lightcyan, lightyellow);
}
/* toggle circle */
.night {
    position: absolute;
    top: .3rem;
    left: .3rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: gold;
    box-shadow: 0 0 5px yellow;
    transition: all .3s ease;
}
/* toggle in another mode */
.toggle.dark {
    background: linear-gradient(midnightblue, rebeccapurple);
}
.toggle.dark .night {
    background: #FEFEFE;
    box-shadow: 0 0 5px #FFF;
    transform: translate(3rem, 0);
}