.changeOrders {
    &__item {
        font-size: 1.6rem;
        border-bottom: 1px solid $additional-color;
        & > div {
            margin: 1.5rem 0;
            span {
                color: $primary-color;
            }
        }

        &_code {
            font-size: 2rem;
            text-align: center;
            span {
                font-weight: 300;
            }
        }
        &_personal, &_product {
            & > div {
                margin: 1.5rem 0;
            }
        }

        .settings {
           padding-top: 2.5rem;
           &__status {
                span {
                    color: black !important;
                    padding: .5rem 1rem;
                    background: $secondary-color;
                }
           }

           &__buttons {
                &_delete,
                &_edit {
                    transition: .3s;
                    &:active {
                        transform: scale(1.1);
                    }
                    svg {
                        width: 3rem;
                        height: 3rem;
                    }
                }

                &_edit {
                    margin-right: 2rem;
                    svg:hover {
                        fill: $secondary-color
                    }
                }

                &_delete {
                    svg:hover {
                        fill: $danger-color;
                    }
                }
           }
        }
    }
}