@import './ChangeUser/changeUser';
@import './ChangeProduct/changeProduct';
@import './ChangeDiscount/changeDiscount';
@import './ChangeOrders/changeOrders';

.changeContainer {
    &__header {
        padding: 1rem 0;
        font-size: 3rem;
        text-align: center;
        font-weight: bold;
    }
}

.changeBlock {
    &__header {
        margin: 2rem 0;
        display: flex;
        &_item {
            font-size: 1.4rem;
            font-weight: bold;
        }
    }

    &__panel {
        padding: 2rem 1rem 0 0;
        &_addItem {
            svg {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    .item__image {
        overflow: hidden;
    }

    // svg-buttons
    .changeBlock__panel_addItem,
    .item__change,
    .item__delete {
        button {
            background: none;
            cursor: pointer;
            &:hover {
                svg {
                    fill: $danger-color;
                }
            }

            &:active:not(:disabled) {
                transform: scale(1.1);
            }

            &:disabled {
                svg {
                    fill: $additional-color;
                }
            }

            svg {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    .changeBlock__panel_addItem button:hover,
    .item__change button:hover {
        svg { 
            fill: $secondary-color;
        }
    }

    &__items {
        &_item {
            background: $foreground-back;
            padding: 1.5rem 0;
            font-size: 1.6rem;
            border-radius: 0.7rem;
            display: flex;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            .item__image {
                height: 10rem;
                border-radius: 50%;
            }
        }
    }
}
