@import './ChangeUser/changeUser';
@import './ChangeProduct/changeProduct';
@import './ChangeDiscount/changeDiscount';
@import './ChangeOrders/changeOrders';
@import './Stats/stats';

.changeContainer {
    &__header {
        padding: 1rem 0;
        font-size: 3rem;
        text-align: center;
        font-weight: bold;
    }
}

.changeBlock {
    &__header {
        margin: 2rem 0;
        display: flex;
        &_item {
            font-size: 1.4rem;
            font-weight: bold;
        }
    }

    &__panel {
        padding: 2rem 1rem 0 0;
        margin-bottom: 3rem;
    }

    &__items {
        &_item {
            background: $foreground-back;
            padding: 1.5rem 0;
            font-size: 1.6rem;
            display: flex;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            .item__image {
                height: 13rem;
                border-radius: 50%;
            }
        }
    }
}
