hr {
    width: 70%;
}

/* form container */
.loginBlock {
    width: 50rem;
    height: 40rem;
    margin: 0 auto;
    background: var(--foreground-back);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* name of a block */
.loginHeader {
    font-size: 2rem;
}

/* all form parts */
.inputField {
    margin: 2rem 0;
}

.submitBtn {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

/* register if no account */
.gotoRegister {
    width: 100%;
    padding: 0 15%;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.4rem;
}

.gotoRegister .link {
    color: var(--primary-color);
    text-decoration: underline;
    letter-spacing: .1rem;
    font-weight: bold;
}

.gotoRegister .link:hover {
    color: var(--secondary-color);
}