/* menu block */
.nav {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

/* header of a menu part */
.nav .nav__block:not(:first-child) .header {
    margin-top: 1rem;
}

.nav .header {
    color: var(--secondary-color);
}
/* links of a menu part */
.nav .menu {
    margin-top: 1.5rem;
}
/* link block */
.nav a {
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}
/* active link */
.nav__itemActive {
    background: linear-gradient(var(--linear-primary), var(--linear-secondary));;
}

.nav a:not(.nav__itemActive):hover {
    background: var(--secondary-color);
}
/* icon settings */
.nav a .icon svg {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}