// colors
$primary-color: rgb(51, 246, 129);
$secondary-color: rgb(255, 168, 76);
$additional-color: rgb(184, 194, 204);
$green-medium: #6ac676;
$green-dark: #499e63;
$gradient: linear-gradient($green-medium, $green-dark);
$def-back: rgb(43, 50, 83);
$foreground-back: rgb(15, 22, 66);
