@import './fonts';
@import './variables';

@import './components/all';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', Sans-Serif;
}

html {
    font-size: 10px;
}

body {
    position: relative;
    background-image: url(./assets/body-background.jpg);
    background-size: cover;
    background-position: f;
    background-attachment: fixed;

    z-index: -1;
}

// blured background
body::before {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $def-back;
    opacity: 0.85;

    z-index: -2;
}

ul {
    display: flex;
}

a {
    display: block;
    text-decoration: none;
}

svg {
    fill: #ffffff;
}

hr {
    height: 0.3rem;
    background: $secondary-color;
    border: none;
}

img {
    width: 100%;
    height: 100%;
}

// material-ui snackbar font-size
.MuiAlert-message {
    font-size: 1.4rem;
}
// material-ui tooltip styles
.MuiTooltip-tooltip {
    font-size: 1.2rem !important;
    // background: red !important;
}

// global common classes
.centered-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space-betw-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disable-click {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    pointer-events: none;
}

// skeleton styles
// app container
.main-container {
    width: 75%;
    height: 100vh;
    margin: 0 auto;
}

.content {
    background: $def-back;
    display: flex;
}

.content nav {
    min-width: 23%;
    margin: 2.5rem 0;
    background: $foreground-back;
}

.content .page-container {
    min-width: 77%;
    min-height: 90vh;
    margin-top: 2.5rem;
    padding: 0 3rem;

    & > div:not(.productsPage) {
        margin-bottom: 2.5rem;
    }
}
